<form [formGroup]="myFormGroup" (ngSubmit)="save()" >
  <div>
    <label>login</label>
    <input type="text" name="login" [formControl]="loginControl">
    <div *ngIf="!loginControl.valid">
      error!!!
      requiredLength is {{loginControl?.errors?.minlength?.requiredLength}}
      actualLength is {{loginControl?.errors?.minlength?.actualLength}}

    </div>
  </div>
  <div>
    <label>password</label>
    <input type="text" name="password" formControlName="password">
  </div>
  <button [disabled]="myFormGroup.invalid">save</button>
</form>


<!--[formGroup]="myForm" прив"язка групи до форми, яка описана в ts-файлі-->
<!--formControlName="password"-->
<!--[formControlName]="'password'"-->
<!--але так можна легко помилитися, тому краще винести назви полів окремимим змінними в в ts-файлі-->
<!--[formControl]="loginControl" - так найкраще-->
